@use '../../assets/variables' as v

#home
  position: relative
  height: 100vh
  width: 100vw
  background: v.$dark-blue
  display: flex
  align-items: center
  .home__container
    *[class^="home__"]
      display: inline-block
    .home__greet
      color: v.$orange-yellow
      margin-block: 1em
    .home__self
      background: v.$light-yellow
      color: v.$dark-blue
      margin: 0
    .home__slogan
      color: v.$light-yellow
      margin: 0
    .home__desc
      color: v.$light-blue
      max-width: 750px
      margin-block: 1em

// Rsponsive design for mobile
// @media (max-width: 1024px)
//   .home__container
    // max-width: 90vw !important
    // margin: auto
