#about
  
  .about__container
    .about__avatar__container
      text-align: center
      #about__avatar
        width: 200px
        height: 200px
        border-radius: 50%

    .about__description__container
      max-width: 700px
      margin: 3rem auto
      .about__description
        

    .about__cardsgroup
      display: flex
      column-gap: 3em
      width: 100%
      .about__cards
        flex: 1
        border: 1px solid black