@use '../../assets/variables' as v
$font-color: v.$light-blue
$hover-font-color: #ffffff
.navbar
  background: v.$dark-blue
  padding-block: 0.5em
  position: fixed
  width: 100%
  z-index: 10
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1)
  height: 53px
  .max-width__container
    // position: relative
    display: flex
    align-items: center
    height: 100%
    .toggle__btn
      display: none
      position: relative
      // padding: 1em
      height: 50%
      width: 2.5em
      background-color: v.$dark-blue
      border: none
      color: v.$light-yellow
      z-index: 20
      cursor: pointer
      span
        position: absolute
        inset: 0
        border-block: 2px solid v.$light-yellow
        transition: v.$fast-transition
        width: 100%
        &::before, &::after
          content: ""
          position: absolute
          top: calc(50% - 1px)
          left: 0
          width: 2.5em
          border-block: 1px solid v.$light-yellow
          transition: v.$fast-transition 0.2s
      &.active
        span
          width: 0 !important
          // transition-delay: 0.2s
          &::before
            transform: rotate(45deg)
          &::after
            transform: rotate(-45deg)

  .navbar__container
    display: flex
    column-gap: 2em
    transition: v.$fast-transition
    overflow: hidden

    .nav__items
      padding: 1em 0
      color: $font-color
      transition: v.$fast-transition
      text-transform: capitalize
      &.nav__active, &:hover
        color: $hover-font-color
        // background: v.$bg-secondary
        // text-decoration: underline
      &:hover
        transform: translateY(-5px)
    .nav__button
      color: $font-color
      padding: 0.5em
      margin: 0.5em 0 0.5em auto
      border: 1px solid $font-color
      border-radius: 0.5em
        
// Rsponsive design for mobile
@media (max-width: 1024px)
  .toggle__btn
    display: block !important
  .navbar__container
    // display: none !important
    background-color: v.$dark-blue
    position: absolute
    inset: 0
    flex-direction: column !important
    inset: 0
    height: 100vh
    width: 0
    justify-content: center
    &.active 
      width: min(60vw, 300px) !important
      // display: flex !important
    .nav__items
      padding: 2em 0 !important
      text-align: center
