@use '../../assets/variables' as v
$font-color: v.$light-blue
$hover-font-color: #ffffff
.navbar
  background: v.$dark-blue
  padding-block: 0.5em
  position: fixed
  width: 100%
  z-index: 10
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1)
  .navbar__container
    display: flex
    column-gap: 1em

    .nav__items
      padding: 1em 0
      color: $font-color
      transition: all .2s ease-in-out
      &.active, &:hover
        color: $hover-font-color
        // background: v.$bg-secondary
        // text-decoration: underline
      &:hover
        transform: translateY(-5px)
    .nav__button
      color: $font-color
      padding: 0.5em
      margin: 0.5em 0 0.5em auto
      border: 1px solid $font-color
      border-radius: 0.5em
        
          
