.footer 
  margin-top: auto
  padding: 3rem 0
  width: 100%
  background-color: #2a2a2a

  .footer__container

    .footer-icons__ribbon
      column-gap: 1em

      // .footer-icons__containers
        // padding: 1em

      .footer-icons__link
          padding: 1em
          background-color: white
          border-radius: 50%

          svg
            width: 1em
            height: 1em

    .footer__text
      margin: 3rem 0 0