#contact
  // flex-direction: column
  .form__title

  #form
    width: 50%
    margin: auto
    // flex: auto
    display: flex
    flex-direction: column
    .form__items
      margin-bottom: 1em
      padding: 1em
      border-radius: 0.5em
      border: none
      box-shadow: inset 0 0px 4px rgb(0 0 0 / 10%)

    .form__input

    .form__textarea
      resize: none
    
    .form__btn__container
      column-gap: 1em
      width: 100%
      .submit__btn
        border: none
        padding: 1em 2em
        border-radius: 1.5em
        font-size: 1em
        letter-spacing: 2px
        cursor: pointer

        &.submit__btn__secondary
    