@use '../../assets/variables' as v

#experience
  // margin-top: 1em
  .experience__title
    margin-bottom: 1em
    color: v.$dark-blue
  .timeline__container 
    position: relative

    // timeline
    &::after
      content: ''
      height: 100%
      width: 5px
      position: absolute
      background: v.$dark-blue
      top: 0
      left: 50%
      transform: translateX(-50%)
      // border-radius: 2.5px
    &:nth-child(2)::after
      border-radius: 2.5px 2.5px 0 0

    &:last-child::after
      border-radius: 0 0 2.5px 2.5px

    .timeline__items
      position: relative
      padding: 1em
      $timeline_margin: calc(50% + 2em)

      .timeline__mark
        position: absolute
        border-radius: 50%
        width: 25px
        height: 25px
        background: white
        border: 5px solid v.$dark-blue
        box-sizing: border-box
        top: 1.9em
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2

      .timeline__flag
        width: 30% 
        position: relative
        color: v.$dark-blue

        .timeline__flag__time
          color: v.$royal-blue
          // align-self: flex-end
          position: relative
          margin-block: 0.2em

        .timeline__flag__title
          padding: 0.3rem 0.6rem
          box-shadow: 0 0 3px rgb(0 0 0 / 20%)
          border-radius: 0.3rem
          // border: 3px solid v.$dark-blue
          display: inline-block
          background-color: v.$dark-blue
          color: #ffffff
        
        .timeline__flag__company
          a
            &, &:hover, &:active, &:visited
              color: v.$light-yellow
      
      .timeline__card
        width: 30%
        margin-top: 1em

      &.item__left
        .timeline__flag, .timeline__card
          margin-left: auto
          margin-right: $timeline_margin
          text-align: right
          // text-align: right
          &::after
            // right: -30px
            // border-left: 15px solid red
            // border-right: 15px solid transparent
          .timeline__flag__time
            margin-right: 0.6rem

      &.item__right
        .timeline__flag, .timeline__card
            margin-left: $timeline_margin
        .timeline__flag
          margin-right: auto
          flex-direction: row-reverse
          &::after
            // left: -30px
            // border-left: 15px solid transparent
            // border-right: 15px solid red
          .timeline__flag__time
            margin-left: 0.6rem

      .timeline__card__list
        // padding: 0
        margin-block: 1.5em
        text-align: left
        list-style: none
        padding-inline: 0.5em
        // list-style-image: url(../../assets/icons/list_mark.svg)
        .timeline__card__list__items
          // color: v.$dark-blue
          position: relative
          padding-bottom: 1em
          &::before
            content: " "
            position: absolute
            width: 10px
            height: 10px
            left: -20px
            top: 5px
            background: url(../../assets/icons/list_mark.svg)
            background-repeat: no-repeat

// Rsponsive design for mobile
@media (max-width: 1024px)

  .timeline__container
    // timeline
    &::after
      left: 50px !important

    .timeline__items
      .timeline__mark
        left: 50px !important

      .timeline__flag
        width: auto !important 

        .timeline__flag__time

        .timeline__flag__title
      
      $margin-left: 70px
      .timeline__card
        width: auto !important

      &.item__left
        .timeline__flag, .timeline__card
          margin-left: $margin-left !important
          margin-right: auto !important
          text-align: left !important 
          .timeline__flag__time
            margin-left: 0.6rem
            margin-right: 0 !important

      &.item__right
        .timeline__flag, .timeline__card
          margin-left: $margin-left !important
        .timeline__flag
          margin-right: auto
          &::after
          .timeline__flag__time
            margin-left: 0.6rem
      
      .timeline__card__list
        padding-inline-start: 0.6rem
        .timeline__card__list__items