@use 'assets/variables' as v

*
  font-family: 'Roboto-Regular', sans-serif

.App
  height: 100%
  display: flex
  flex-direction: column

// Container styles 

.flex__container__center
  display: flex
  justify-content: center
  align-items: center

// Typography

.center
  text-align: center

.title-1
  

.title-2


.passage-1
  

.small-1
  font-size: 0.9em

// default link styles

a, a:hover, a:visited
  text-decoration: none
  color: v.$text-primary