@use 'assets/variables' as v

*
  font-family: 'Roboto-Regular', sans-serif

.App
  height: 100%
  display: flex
  flex-direction: column

// Container styles 

.flex__container__center
  display: flex
  justify-content: center
  align-items: center

.max-width__container
  max-width: 1280px
  width: 100%
  margin: auto

.section__padding
  padding-block: 8rem

// Typography

.center
  text-align: center

.text__xxl
  font-size: 5rem

.text__xl
  font-size: 3rem

.text__l
  font-size: 2rem

.text__m
  font-size: 1.5em

.text__ms
  font-size: 1.25em

.text__s
  font-size: 1em

.text__xs
  font-size: 0.9em

.text-uppercase
  text-transform: uppercase

.mono
  font-family: 'Roboto Mono', monospace !important

// default link styles

a, a:hover, a:visited
  text-decoration: none
  color: v.$text-primary

// animation

.transition__fast
  transition: all .3s ease-in-out